
{{- printf "package types\n\n" -}}

import (
    "time"
)
{{- range $roName, $roValue := . -}}
{{- printf "\n\ntype %s struct {\n" $roName -}}
    {{- range $i, $field := $roValue -}}
    {{- printf "\t%s\t%s\t%s\n" (index $field "name") (index $field "goType") (index $field "structTag") }}		
    {{- end -}}
{{- printf "}\n" -}}
{{- end -}}

